.Footer {
	@include background($black);

	> .block {
		margin: 0 auto;

		> .grid-box > .footer-column {
			> .title {
				font-size: $font-size-base;
				font-weight: $font-weight-bold;
				color: $white;
				display: block;
				margin-bottom: $spacing-small;
			}
		}
	}

	.link {
		color: $white;

		&:hover,
		&:visited {
			color: $white;
		}
	}
}
