.navigation {
	&.inline,
	&.social {
		.items > .item {
			display: inline-block;
			position: relative;

			> .link {
				width: 100%;
				padding: $spacing-small $spacing-large;
				display: block;
			}
		}
	}

	&.block {
		padding: 0;
		margin: 0;

		> .items > .item {
			display: block;

			> .link {
				font-size: $font-size-small;
				width: 100%;
				padding: $spacing-small / 2 0;
				display: block;
			}
		}
	}
}
