.Post {
	.heading-1 {
		margin: $spacing-large 0;
	}

	.author-profile {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-bottom: $spacing-large;

		> .author-image {
			@include size(6rem, 6rem);

			margin-right: $spacing-small;
			display: inline-block;
			border-radius: 50%;
		}

		> .author-details {
			> .author-name,
			> .author-twitter,
			> .post-date {
				font-size: $font-size-small;
				line-height: $line-height-body;
				padding: 0;
				display: block;
			}

			> .author-name {
				font-weight: $font-weight-bold;
			}

			> .author-twitter {
				@include flex(center);

				> .icon {
					margin-right: $spacing-small / 2;
				}
			}
		}
	}

	.post-topics {
		> .post-topic {
			> .link {
				@include background($lime);

				padding: 0.3rem 0.5rem;
				transition: $animation-base;
				border: 0.1rem solid $lime;

				&:hover {
					@include background($white);

					color: $font-color-base;
					border-color: $black;
				}
			}
		}
	}

	@include respond-to(LARGE) {
		.heading-1 {
			text-align: center;
			margin: $spacing-large * 2 0;
		}

		> .post-banner {
			max-width: $block-max-width;
			margin: $block-margin-desktop auto;
		}
	}
}
