.Post {
	.post-footer {
		.tag-list:nth-child(2) {
			margin: 0;
		}
	}

	@include respond-to(LARGE) {
		> .post-banner {
			max-width: $block-max-width;
			margin: $block-margin-desktop auto;
		}
	}
}
