.navigation.breadcrumb {
	padding-top: $spacing-small;
	margin-bottom: $spacing-large;

	> .items {
		display: none;

		@include respond-to(MEDIUM) {
			display: block;
		}

		> .item {
			text-transform: capitalize;

			> .link {
				padding: $spacing-small $spacing-large;
			}

			&:first-of-type {
				> .link,
				> .current-page {
					padding-left: 0;
				}
			}

			> .icon {
				color: $white;
				font-size: 1rem;
				position: absolute;
				top: 2.5rem;
				right: 0;
			}

			> .current-page {
				font-size: $font-size-base;
				font-weight: $font-weight-bold;
				font-style: italic;
				color: $white;
				padding: $spacing-small $spacing-large;
				display: block;
			}
		}
	}
}
