.Header {
	margin-bottom: $spacing-large;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: relative;
	overflow: hidden;

	> .site-heading {
		flex: 1;
		z-index: 2;

		> .link {
			font-size: 2rem;
			font-weight: $font-weight-bold;
		}
	}

	> .buttons {
		z-index: 2;

		> .button {
			margin-bottom: 0;
		}
	}

	> .hamburger-wrapper {
		@include size(100vw, 100vh);
		@include background($white);

		position: fixed;
		top: 0;
		z-index: 1;
	}

	@include respond-to(MEDIUM) {
		overflow: visible;

		> .hamburger-wrapper {
			@include size(auto, auto);

			position: static;
			// need to replace with js breakpoint
			transform: translateX(0) !important;
		}

		> .buttons > .hamburger-button {
			display: none;
		}
	}
}
