.post-navigation {
	font-weight: $font-weight-bold;
	display: flex;
	justify-content: space-between;
	margin-bottom: $spacing-large;

	> .post-navigation-section {
		padding: 0 0 0 $spacing-large;

		> .link {
			display: flex;
			align-items: center;
			padding: 0;
			position: relative;

			&:hover {
				color: $font-color-base;
			}

			> .svg {
				font-size: 2rem;
				position: absolute;
				top: $spacing-small + 0.3rem;
				left: -$spacing-large;
			}
		}

		&:last-of-type {
			text-align: right;
			padding: 0 $spacing-large 0 0;

			> .link > .svg {
				left: initial;
				right: -$spacing-large;
			}
		}

		> .body-copy {
			font-size: $font-size-small;
			margin: 0;
		}
	}
}
