.SearchForm {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	> .overlay {
		@include size(100vw, 100vh);
		@include background(#fff);

		opacity: 0.9;
	}

	> .search-wrapper {
		@include background($white);

		padding: $spacing-large $spacing-large $spacing-small;

		> .block {
			> .search-form {
				padding-bottom: $spacing-small;
				margin-bottom: $spacing-small;
				border-bottom: 0.1rem solid $gray;

				> .search-field {
					margin: 0;
					border: none;
					box-shadow: none;
				}
			}

			> .buttons {
				position: absolute;
				top: 0;
				right: $spacing-large / 2;

				> .button {
					margin: 0;
				}
			}

			> .results-items {
				> .results-item {
					> .link {
						@include background(transparent);

						padding: $spacing-small / 3;
						display: block;
						transition: background ease 100ms;

						&:hover,
						&:focus {
							@include background($gray-light);

							color: $font-color-base;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}
