.tag-list {
	margin-bottom: $spacing-large;

	> .tag-list-copy {
		padding-right: $spacing-small / 2;
	}

	> .tag-list-items {
		padding: 0;
		display: inline-block;

		> .tag-list-item {
			font-weight: $font-weight-bold;
			display: inline-block;

			> .tag-list-link {
				padding: 0.3rem 0.5rem;
				transition: $animation-base;

				&:hover {
					color: $font-color-base;
					text-decoration: underline;
				}
			}
		}

		&.button {
			@include background(transparent);

			margin: 0;

			> .tag-list-item {
				> .tag-list-button {
					@include background(transparent);

					font-weight: $font-weight-bold;
					color: $font-color-base;
					margin-right: $spacing-small;

					> .svg {
						transition: $animation-base;
						visibility: hidden;
						opacity: 0;
					}

					&.isSelected > .svg {
						visibility: visible;
						opacity: 1;
					}

					&:hover {
						text-decoration: underline;
					}
				}
			}
		}

		&.span {
			padding: 0 $spacing-large $spacing-large;
			display: inline-flex;
			justify-content: flex-start;

			> .tag-list-item {
				> .tag-list-link {
					font-size: $font-size-small;

					&:hover {
						color: $font-color-base;
						text-decoration: none;
					}
				}
			}
		}
	}
}
