.Footer {
	@include background($black);

	.link {
		color: $white;

		&:hover {
			color: $lime;
		}
	}

	> .block {
		margin: 0 auto;
	}

	.footer-column {
		> .title {
			font-size: $font-size-base;
			font-weight: $font-weight-bold;
			color: $white;
			display: block;
			margin-bottom: $spacing-small;
		}

		> address > .items {
			font-size: $font-size-base;
			color: $white;

			> .item {
				margin: 0;

				> .link {
					color: $lime;
					text-decoration: none;
					padding: 0;

					&:hover {
						text-decoration: underline;
					}
				}

				&:nth-last-child(2) {
					margin-top: $spacing-large;
				}
			}
		}
	}
}
