.skip-button {
	font-weight: 800;
	font-size: 1.2rem;
	line-height: 1;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	text-align: center;
	color: #fff;
	padding: 1.9rem 3rem;
	background-color: #000;
	border-radius: 0.2rem;
	position: absolute;
	top: -6rem;
	left: 50%;
	transform: translateX(-50%);
	transition: all 200ms ease;
	opacity: 0;
}

.skip-button:focus,
.skip-button:active {
	text-decoration: none;
	top: $spacing-small;
	opacity: 1;
}

a,
span.link {
	text-decoration-skip-ink: auto;
	transition: color $animation-duration $animation-timing;

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}
