.block {
	position: relative;
	width: 100%;
	margin: $block-margin-mobile auto;

	@include respond-to(LARGE) {
		max-width: $block-max-width;
		margin: $block-margin-desktop auto;
	}
}

.block-fluid {
	width: 100%;
	max-width: 100%;
	position: relative;
	margin: $block-margin-mobile auto;

	@include respond-to(LARGE) {
		margin: $block-margin-desktop auto;
	}
}
