.block {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

	@include respond-to(LARGE) {
		max-width: $blockMaxWidth;
	}
}

.block-fluid {
	width: 100%;
	max-width: 100%;
	position: relative;
}
