.block {
	position: relative;
	width: 100%;
	padding: 0 $spacing-small;
	margin: $block-margin-mobile auto;

	@include respond-to(LARGE) {
		max-width: $block-max-width;
		margin: $block-margin-desktop auto;

		> .block-inner {
			width: 90%;
			margin: 0 auto;
		}
	}
}

.block-fluid {
	width: 100%;
	max-width: 100%;
	position: relative;
	margin: $block-margin-mobile auto;

	@include respond-to(LARGE) {
		margin: $block-margin-desktop auto;
	}
}
