.button,
.button-link,
[type='button'],
[type='reset'],
[type='submit'] {
	@include background($action-color);

	appearance: none;
	border: 0;
	border-radius: $border-radius;
	color: $action-color-contrast;
	cursor: pointer;
	display: inline-block;
	font-family: $font-family-body;
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	font-weight: 600;
	line-height: 1;
	padding: $spacing-small $spacing-large;
	margin-bottom: $spacing-small;
	text-align: center;
	text-decoration: none;
	transition: background-color $animation-duration $animation-timing;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		background-color: $action-color-hover;
	}

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;
	}

	&.primary,
	&.secondary {
		line-height: $line-height-body;
		padding: 0.8rem 5rem;
	}

	&.secondary {
		@include background($black);
	}
}

.buttons {
	> * {
		margin-right: $spacing-small;

		&:last-of-type {
			margin-right: 0;
		}
	}
}
