.grid {
	display: grid;
	grid-column-gap: $spacing-small;
	padding: 0 $spacing-small;
	margin: $spacing-small 0;

	@include respond-to(LARGE) {
		grid-column-gap: $spacing-large;
		padding: 0 $spacing-large;
		margin: $spacing-large 0;
	}
}
