html {
  @include background($viewport-background-color);

  /* stylelint-disable */
	font-size: 10px;
	/* stylelint-enable */
	box-sizing: border-box;
}

body {
  width: 100vw;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.Main {
  overflow: hidden;
  padding-bottom: $spacing-large * 2;
}
