.navigation {
	&.block,
	&.inline {
		.items > .item > .link {
			width: 100%;
			padding: $spacing-small;
			display: block;
		}
	}

	&.inline,
	&.social {
		> .items {
			> .item {
				display: inline-block;
				vertical-align: top;

				> .sub-items > .item > .link {
					padding: $spacing-small;
					display: block;
				}
			}
		}
	}
}
