html {
	font-family: $font-family-body;
	color: $font-color-base;
}

*,
*::before,
*::after {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-family-heading;
	font-weight: $font-weight-bold;
	line-height: $line-height-heading;
	letter-spacing: $letter-spacing-heading;
	color: $font-color-header;
	margin: 0 0 3rem;
}

p,
.body-copy,
.tag {
	font-size: $font-size-base;
	font-weight: $font-weight-medium;
	line-height: $line-height-body;
	letter-spacing: $letter-spacing-body;
	margin: 0 0 2rem;
}

.tag {
	font-size: $font-size-small;
	text-transform: uppercase;
	margin: 0;
}

a {
	color: $action-color;
	text-decoration-skip-ink: auto;
	transition: color $animation-duration $animation-timing;

	&:hover {
		color: $action-color-hover;
	}

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}
}

hr {
	border-bottom: $border;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	margin: $spacing-small 0;
}

$heading-scale: 1.1;

@for $i from 1 through 6 {
	.heading-#{$i} {
		font-size: 0.1rem + $heading-scale * (6 - $i);
	}
}
