// Z-Index
$zLayout: default, overlay;

// Colors
$black: #222831;
$gray: #393e46;
$white: #fff;
$lime: #32e0c4;

// Font Colors
$font-color-base: $black;
$font-color-header: $black;
$action-color: $lime;
$action-color-hover: $lime;
$action-color-contrast: $white;

// Background Colors
$viewport-background-color: $white;

// Typography
$font-family-body: -apple-system, blinkmacsystemfont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
	'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-heading: $font-family-body;

$font-size-base: 1.6rem;
$font-size-small: 1.4rem;

$font-weight-light: 100;
$font-weight-medium: 400;
$font-weight-bold: 700;

$line-height-body: 1.7;
$line-height-heading: 1;

$letter-spacing-body: -0.01rem;
$letter-spacing-heading: $letter-spacing-body;

// Borders
$border-width: 0.1rem;
$border-radius: 0.2rem;
$border: $border-width solid currentColor;

// Box Shadow
$box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.1);

// Focus
$focus-outline-width: 0.2rem;
$focus-outline-offset: 0.2rem;
$focus-outline: $focus-outline-width solid $action-color;

// Animations
$animation-duration: 300ms;
$animation-timing: ease;
$animation-base: all $animation-duration $animation-timing;

// Spacing
$spacing-small: 1.5rem;
$spacing-large: 3rem;

// Forms {
$form-box-shadow: inset 0 $border-width 0.1875rem $gray;
$form-box-shadow-focus: $form-box-shadow, 0 0 0.1rem $action-color;

// Breakpoints
/* stylelint-disable */
$breakpoint-small: 375px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
$breakpoint-xlarge: 1200px;
$breakpoint-xxlarge: 1400px;
/* stylelint-enable */

// Grid
$grid-columns: 12;
$grid-spacking: $spacing-small;

// Block
$block-margin-mobile: $spacing-small;
$block-margin-desktop: $spacing-large;

// Layout
$block-max-width: $breakpoint-large;

$zLayout: default;
